# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Entornos locales
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.local